@media (max-width: 580px){
    .contentContainer{
        border:solid black;
        /*height: 1200vh;*/
        height:auto;
        margin:auto;
        display:flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .displayL{
        border:solid lime;
        margin-left:3em;
        margin-right:0;
        /*width:33%;*/
        width:100%;
        /*display:none;*/
        /*full screen*//*width:16%;*/
    }
    .displayR{
        border:solid blue;
        margin-left:3em;
        width:100%;
    }
    .avatarImg{
        display: none;
    }
}

@media (max-width: 880px){
    .contentContainer{
        border:solid black;
        /*height: 1200vh;*/
        height:auto;
        margin:auto;
        display:flex;
        justify-content: space-between;
    }
    .displayL{
        border:solid lime;
        width:33%;
        /*full screen*//*width:16%;*/
    }
    .displayR{
        border:solid blue;
        width:66%;
    }   
}

@media (max-width: 1580px){
    .contentContainer{
        border:solid black;
        /*height: 1200vh;*/
        height:auto;
        margin:auto;
        display:flex;
        justify-content: space-between;
    }
    .displayL{
        border:solid lime;
        width:16%;
    }
    .displayR{
        border:solid blue;
        width:83%;
    }
}
.contentContainer{
    border:solid black;
    border-radius: 15px 50px;
    /*height: 1200vh;*/
    height:auto;
    margin:auto;
    display:flex;
    justify-content: space-between;
}
.displayL{
    border:solid darkgrey;
    border-radius: 15px 0px 0px 50px;
    width:33%;
    /*full screen*//*width:16%;*/
}
.displayR{
    border:solid darkgrey;
    border-radius: 0px 50px 15px 0px;
    width:66%;
}
.aboutMeContainer{
    /*border:solid black;*/
    padding-left:1em;
    padding-right:1em;
    /*display:flex;
    justify-content: space-around;*/
    /*height: 50px;*/
}
.name{
    margin-top:0.5em;
    margin-bottom:0;
}
.title{
    color: grey;
    margin-top: 0;
}
.workContainer{
    /*border:solid blue;*/
    padding-left:1em;
    padding-right:1em;
    /*height: 50px;*/
}
.eduContainer{
    /*border:solid blueviolet;*/
    padding-left:1em;
    padding-right:1em;
    /*height: 50px;*/
}
.certsContainer{
    /*border:solid orange;*/
    padding-left:1em;
    padding-right:1em;
    /*height: 50px;*/
}
.clubsContainer{
    /*border:solid teal;*/
    padding-left:1em;
    padding-right:1em;
}
.avatarImg{
    border-radius: 15px 0px 0px 0px;
}
.skillsContainer{
    /*border:solid yellow;*/
    padding-left:1em;
    padding-right:1em;
    /*height: 50px;*/
}
.langContainer{
    /*border:solid pink;*/
    padding-left:1em;
    padding-right:1em;
    /*height: 50px;*/
}
.interestsContainer{
    /*border:solid green;*/
    padding-left:1em;
    padding-right:1em;
    /*height: 50px;*/
}
.refContainer{
    /*border:solid palevioletred;*/
    padding-left:1em;
    padding-right:1em;
    /*height: 50px;*/
}