@media (max-width: 1580px){
    .contentContainer{
        border:solid rgb(23, 23, 23);
        background-color: rgb(247, 212, 212);
        border-radius: 15px 50px;
        height:auto;
        margin:auto;
        display:flex;
        justify-content: space-between;
    }
    .displayL{
        border:solid rgb(23, 23, 23);
        border-radius: 15px 0px 0px 50px;
        width:18%;
    }
    .displayR{
        border:solid rgb(23, 23, 23);
        border-radius: 0px 50px 15px 0px;
        width:82%;
    }
    .avatarImg{
        margin:1em;
    }
}

@media (max-width: 1380px){
    .contentContainer{
        border:solid rgb(23, 23, 23);
        background-color: rgb(247, 212, 212);
        border-radius: 15px 50px;
        height:auto;
        margin:auto;
        display:flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .displayL{
        border:solid rgb(23, 23, 23);
        border-radius: 15px 0px 0px 50px;
        width:25%;
    }
    .displayR{
        border:solid rgb(23, 23, 23);
        border-radius: 0px 50px 15px 0px;
        width:75%;
    }   
    .avatarImg{
        margin:0.5em;
    }
}

@media (max-width: 880px){
    .contentContainer{
        border:solid rgb(23, 23, 23);
        background-color: rgb(247, 212, 212);
        border-radius: 15px 50px;
        height:auto;
        margin:auto;
        display:flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .displayL{
        border:solid rgb(23, 23, 23);
        border-radius: 15px 0px 0px 50px;
        width:33%;
    }
    .displayR{
        border:solid rgb(23, 23, 23);
        border-radius: 0px 50px 15px 0px;
        width:66%;
    }   
    .avatarImg{
        margin:0;
    }
}

@media (max-width: 580px){
    .contentContainer{
        border:solid rgb(23, 23, 23);
        background-color: rgb(247, 212, 212);
        border-radius: 15px 50px;
        height:auto;
        margin:auto;
        display:flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .displayL{
        border:none;
        width:100%;
    }
    .displayR{
        border:none;
        width:100%;
    }
    .avatarImg{
        display: none;
    }
}

/*----------------------------------------------------------------------------------*/

body{
    background-color: black;
}
.aboutMeContainer{
    padding-left:1em;
    padding-right:1em;
}
.name{
    margin-top:0.5em;
    margin-bottom:0;
}
.title{
    color: rgb(69, 69, 69);
    margin-top: 0;
}
.workContainer{
    padding-left:1em;
    padding-right:1em;
}
.eduContainer{
    padding-left:1em;
    padding-right:1em;
}
.certsContainer{
    padding-left:1em;
    padding-right:1em;
}
.clubsContainer{
    padding-left:1em;
    padding-right:1em;
}
.avatarImg{
    border-radius: 15px 0px 0px 0px;
}
#aImg{
    border-radius: 50%;
}
.skillsContainer{
    padding-left:1em;
    padding-right:1em;
}
.langContainer{
    padding-left:1em;
    padding-right:1em;
}
.interestsContainer{
    padding-left:1em;
    padding-right:1em;
}
.refContainer{
    padding-left:1em;
    padding-right:1em;
    background-color: rgb(247, 212, 212);
    border:solid rgb(23, 23, 23);
    border-radius: 15px 50px;
}
